{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid Podcast -->
        {% if podcast | length > 0 %}
            <h2 class="title"> {{podcast[0].podcast_title}}</h2>
            <hr />
            <h3> Artworks </h3>
            {% for instance in (podcast[0:3]) %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" style="width:40%;height:40%">
                    <br /> Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br />
            <h3> Descriptions </h3>
            {% for instance in (podcast[0:1]) %}
                {% if instance.md_type_name == 'description' %}
                <div>
                    {{instance.md_value}}
                </div>
                {% endif %}
            {% endfor %}
            <br />
            <h3> Genres </h3>
            {% if podcastgenres | length == 0 %}
                <div>
                    N/A 
                </div>
            {% else %}
                {% for instance in podcastgenres %}
                    {{instance.podcastgenres}}
                {% endfor %}
            {% endif %}


        <div>
            <!-- All Songs -->
            <table class="styled">
                <thead>
                    <tr>
                        <td>Podcast Episode Media ID</td>
                        <td>Podcast Episode Title</td>
                        <td>Podcast Episode URI</td>
                        <td>Podcast Episode Published Date</td>
                        <td>Podcast Episode Length</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add a for loop to iterate over the episodes -->
                    {% for instance in podcast %}
                    <tr class="clickable-tr" data-href="{{ url_for('single_podcastep',media_id=instance.media_id)}}">
                        <td style="text-align: center">{{ instance.md_id }}</td>
                        <td>{{instance.podcast_episode_title}}</td>
                        <td>{{instance.podcast_episode_uri}}</td>
                        <td>{{instance.podcast_episode_published_date}}</td>
                        <td>{{instance.podcast_episode_length}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
        {% else %}
        <h2 class="title"> Invalid Podcast ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
